<h2>Here I'll calculate the dead volume of a piece of tubing for you.</h2>

<%= form_tag({}, :method => :get, :remote => true, :id => 'calculation_entry') do %>
  <div id="internal_diameter">
    <label for="diameter">Enter the internal diameter:</label>
    <%= text_field_tag :diameter %>
    <label for="diameter_unit"></label>
    <%= select_tag :diameter_unit, options_for_select({
      "Microns" => 'micrometer', 
      'inches' => 'inch'
    })  %>  
  </div>
  <div id="length">
    <label for="length">Enter the length of tubing:</label>
    <%= text_field_tag :length %>
    <label for="length_unit"></label>
    <%= select_tag :length_unit, options_for_select({
      "meters" => 'meter', 
      "inches" => 'inch'
    })  %>
  </div>
  <%= submit_tag "Calculate!" %>
<% end %>
<div id="output"> </div>
